*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    /* font-size: 17px;
    line-height: 1.53;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;pscss.css
    font-weight: 400; */
    font: 17px/1.53 'Roboto', 'sans-serif';
}
/* .text{
    background-color: beige;
    border: 2px solid black;
} */

.banner-part{
    height: 100vh;
    position: relative;
    /* background: color url() repeat 50% 50% /cover; */
    /* width: 100vw; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* .banner-part::before{
    content: '';
    height: 100vh;
    height DINA KO lagi matra ho.. instead of giving it in banner-part 100vh yesma dida ni huncha re
    display:block;
} */
.banner-part::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #bf3d42;
    /* background-color: rgba( 191,61,66,1); yo chai incase directly opacity milauna milena bhane */
    
    mix-blend-mode: darken;
}
.bg-stretch{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-content{
    position: relative;
    z-index: 9;
    /* max-width: 976px; browser ma farak parcha so change if needed */
    max-width: 500px;
    color: #fff;
    text-align: center;
}
.banner-content p{
    margin: 0 0 25px;
}
.overline-text{
    font-size: 34px;;
    text-transform: uppercase;
}
.btn{
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.btn.primary{
    padding: 15px;
    /* background-color: #333333; */
    background-color:black;
    border: 2px solid #fff;
    min-width: 230px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    color: #fff;
}
/* .btn.primary{
    
    padding: 15px;
    background-color:black;
    border: 2px solid #fff;
    width: 230px;
    display: block;
    border-radius: 30px;
    margin: 0 auto;
} */
h1{
    font-weight: 700;
    font-size: 65px;
    text-transform: uppercase;
    margin: 0 0 45px;
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 15px 50px;
}
#header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1170px;
    width: 100%;
    /* max-width deko ma content center ma lagna margin 0 auto garne */
    margin: 0 auto;
}
h2{
    
    font-family:'Roboto', 'sans-serif' ;
    font-size: 35px;
    line-height: 2;
    font-weight: 700;
    color: #010304;
    text-transform: uppercase;
    margin: 0 0 45px;
}
.style{
    position: relative;
    padding-left: 44px;
}
.style::after{
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    top: 10px;
    left: 0;
    background: url('./images/iconchips.png') no-repeat center /cover;
    display: block;
}
.two-columns{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.two-columns .col{
    width: 50%;
    padding: 0 20px;
}
.two-columns .col.large-col{
    width: 58.33%;
}
.two-columns .col.small-col{
    width: 41.66%;
}
.about-part{
    padding: 120px;
}
.about-part .image-wrap{
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    /* width: 500px;
    height: 345px; */
    padding-top: 61%;
}
.about-part p{
    margin: 0;
}
.about-part .btn-wrap{
    margin-top: 60px;
    
}
.btn.secondary{
    padding: 15px;
    background-color:#bf3d42;
    border: 2px solid #bf3d42;
    min-width: 180px;
    border-radius: 25px;
    color: #fff;
}